<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Manipulator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Lae üles pilt leitud prügist</h1>
        <p>Rakendus ennustab, mis tõenäosusega on mis prügiga tegemist!</p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*">
            <input type="submit" value="Hinda pilti">
        </form>
        <div id="result"></div>
    </div>
    <script>
        document.querySelector('form').addEventListener('submit', function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                var resultDiv = document.getElementById('result');
                resultDiv.innerHTML = 'Class: ' + data.class_name + '<br>Confidence Score: ' + data.confidence_score;
            });
        });
    </script>
</body>
</html>